@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: Poppins, system-ui, sans-serif;
        color-scheme: light;
    }
}

.bondscape-text-gradient {
    background: linear-gradient(98deg, #FE8127 6.16%, #FEB027 78.13%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
